@import './styles/fonts';
@import './styles/variables';

*{
  font-family: 'Gugi', cursive;
}
Header{
  position: fixed;
  z-index: 999;
}
main{
    /* padding: 4rem 2rem; */
    width: 100%;
    height: 100vh;
    background: #333;
    color: $primary-color;
}